body {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
}

p {
    font-size: 1.125rem;
}

.nav-link {
    font-weight: 700;
}

.bg-light {
    background-color: white !important;
}

h2, h3, h4 {
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3125rem;
}

h2.db {
    color: #153D9D; 
}

h2.lb {
    color: #1DAFDD;
}

h2.wh {
    color: #fff;
}

a, a:link, a:visited {
    color: #1DAFDD;
    border-bottom: 1px solid #1DAFDD;
    text-decoration: none;
    transition: all 200ms ease; 
}

a:hover, a:active {
    color: #153D9D; 
    text-decoration: none;
    background: #d2eff8;
    border-color: #d2eff8 ;
}

a.navbar-brand, a.navbar-brand:link, a.navbar-brand:visited, a.navbar-brand:hover, a.navbar-brand:active,
a.nav-link, a.nav-link:link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active{
    border-bottom: none;
    background: none;
}


.jumbotron {
    margin-top: 220px;
    background: url('../img/Hero.jpg');
    background-position: center;
    background-size: cover;
    height: 30vh;
    min-height: 200px;
    margin-bottom: 0;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    .jumbotron {
        margin-top: 0;
        height: 40vh;
        min-height: 400px;
    }
}

@media only screen and (min-width: 1200px) and (min-height: 900px) {
    .jumbotron {
        height: 50vh;
        min-height: 500px;
    }
}

#headline {
    position: absolute;
    top: 60px;
    height: 220px;
    width: 100%;
    padding-top: 15px;
}

@media only screen and (min-width: 600px) {
    #headline {
        position: static;
        top: auto;
        margin: 0 auto;
        max-width: 320px;
        height: auto;
        padding: 0;
    }
}

#headline mark { 
    color: #153D9D; 
    background: white;
    font-size: 1.3125rem;
    font-weight: 700;
    padding: 0;
}

@media only screen and (min-width: 360px) {
    #headline mark { 
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 600px) {
    #headline mark { 
        line-height: 1.4;
    }
}

.segment {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 600px) {
    .segment {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media only screen and (min-width: 1024px) {
    .segment {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.header-logo {
    margin-bottom: 24px;
    height: 72px;
    width: auto;
}

@media only screen and (min-width: 600px) {
    .header-logo {
        height: 96px;
    }
}

@media only screen and (min-width: 1024px) {
    .header-logo {
        height: 124px;
    }
}

.col-text {
    padding-top: 24px;
    padding-bottom: 24px;
}

#launch h1 {
    color: #1DAFDD;
    font-size: 1.25em;
    font-weight: 600;
}

#ncep {
    background: #ECF3F5;
    text-align: center;
}

#mailchimp {
    color: #fff;
    background: #36ACDE;
    text-align: center;
}

#mailchimp button {
    background: #153D9D;
    border-color: #153D9D;
}

#research {
    text-align: left;
}

#research  h1 {
    font-size: 1.25em;
    font-weight: 600;
    color: #2794D1;
    padding-bottom: 24px;
}

#research h2 {
    font-size: 1.1em;
    font-weight: 600;
}

#research .explainer {
    padding-bottom: 24px;
}

#contact {
    text-align: center;
}

#footer {
    color: #FFFFFF;
    background: #555555;
    margin-bottom: 0;
    text-align: center;
}