body {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.jumbotron {
    background: url('../img/Hero.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}

.jumbotron .container #headline {
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    font-size: 1.75em;
    padding: 30px 15px 30px 15px;
}

.segment {
    padding-top: 80px;
    padding-bottom: 80px;
}

.header-logo {
    margin-bottom: 24px;
}

.col-text {
    padding-top: 24px;
    padding-bottom: 24px;
}

#launch h1 {
    color: #1DAFDD;
    font-size: 1.25em;
    font-weight: 600;
}

#ncep {
    background: #ECF3F5;
    text-align: center;
}

#ncep h1 {
    color: #153D9D;
    font-size: 1.25em;
    font-weight: 600;
}

#ncep h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: 600;
}

#mailchimp {
    color: #fff;
    background: #36ACDE;
    text-align: center;
}

#mailchimp button {
    background: #153D9D;
    border-color: #153D9D;
}

#research {
    text-align: left;
}

#research  h1 {
    font-size: 1.25em;
    font-weight: 600;
    color: #2794D1;
    padding-bottom: 24px;
}

#research h2 {
    font-size: 1.1em;
    font-weight: 600;
}

#research .explainer {
    padding-bottom: 24px;
}

#contact {
    text-align: center;
}

#footer {
    color: #FFFFFF;
    background: #555555;
    margin-bottom: 0;
    text-align: center;
}

#footer a {
    color: #FFF;
    text-decoration: underline;
}